---
import { ViewTransitions } from "astro:transitions";
import '@fontsource/recursive/400.css';
import '@fontsource/recursive/700.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Computer Club</title>
    <ViewTransitions />
    <style>
      html {
        padding: 10px;
      }

      body {
          font-family: 'Recursive', sans-serif;
      }

      .main {
        width: 680px;
        margin: 0 auto;
      }

      hr {
        width: 100%;
        border: none;
        border-bottom: 3px solid oklch(31% 0.015 285);
        flex: none;
      }

      .header {
        /* text */
        font-weight: 700;
        font-size: 35px;
        text-transform: uppercase;

        /* layout */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
      }

      .coal-coast {
        width: 4ch;
        line-height: 0.85;
        margin-top: 20px;
        z-index: 1;
      }

      .computer-club {
        width: 8ch;
        line-height: 0.85;
        margin-top: 20px;
        text-indent: -1ch;
        z-index: 1;
      }

      #logo {
        width: 200px;
      }
    </style>
  </head>
  <body>
    <div class="main">
      <div class="header">
        <div class="coal-coast">coal coast</div>
        <img id="logo" src="computerclub.png" alt="computer club logo" />
        <div class="computer-club">computer club.</div>
      </div>
      <div transition:name="text" transition:animate="slide">
        <slot />
      </div>
    </div>
  </body>
</html>
