---
import { ViewTransitions } from "astro:transitions";
import "@fontsource/recursive/300.css";
import "@fontsource/recursive/400.css";
import "@fontsource/recursive/500.css";
import "@fontsource/recursive/600.css";
import "@fontsource/recursive/700.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Computer Club</title>
    <ViewTransitions />
    <style>

      html {
        padding-top: 30px;
      }

      body {
        font-family: "Recursive", sans-serif;
        line-height: 1.6;
        p {
          font-weight: 300;
        }
      }

      .main {
        width: 680px;
        margin: 0 auto;

        h3 {
          color: black;
          text-transform: uppercase;
          letter-spacing: .025em;
        }

        h4 {
          font-weight: 400;
          margin-top: 1.5rem;
          margin-bottom: .25rem;
        }

        h4 + p {
          margin-top: 0;
        }

        :link, a, a:visited {
          color: oklch(60.4% 0.083 26.8);
        }
      }

      .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        align-items: center;
        margin-bottom: 100px;
      }

      #logo {
        width: 299px;
      }

      #title {
        width: 170px;
      }

    </style>
  </head>
  <body>
    <div class="main">
      <div class="header">
        <img id="logo" src="computerclub.png" alt="computer club logo" />
        <img id="title" src="computerclubtitle.svg" alt="coal coast computer club" />
      </div>
      <div class="post" transition:name="text" transition:animate="slide">
        <slot />
      </div>
    </div>
  </body>
</html>
